In [1]:
from mplsoccer import Sbopen
parser = Sbopen()

## Parser

Using the parser, we can access various dataframes starting from the high level (competitions, like WWC, AFCON...) all the way to the individual matches.

One thing to note on how these work is the ID's. You may think if we get the `competition_name` that it will give an index ID we can use as well. This is not the case.

For example, if we get the Womens World Cup from `competition_name` we can see it exists in row 70. However, we then need to do `competition_id` to see that row 70 has an ID of 72.

## parser.competition()

This gets us all the competition info. The important keys from this are `competition_id` and `season_id`. From these we can access any competitions data from any season.

In [17]:
df_comp = parser.competition()
df_comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   competition_id             71 non-null     int64
 1   season_id                  71 non-null     int64
 2   country_name               71 non-null     object
 3   competition_name           71 non-null     object
 4   competition_gender         71 non-null     object
 5   competition_youth          71 non-null     bool
 6   competition_international  71 non-null     bool
 7   season_name                71 non-null     object
 8   match_updated              71 non-null     object
 9   match_updated_360          54 non-null     object
 10  match_available_360        8 non-null      object
 11  match_available            71 non-null     object
dtypes: bool(2), int64(2), object(8)
memory usage: 5.8+ KB

Say we want to look at the Bundesliga. Let's first find which row this exists:

In [22]:
df_comp['competition_name']

0              1. Bundesliga
1     African Cup of Nations
2           Champions League
3           Champions League
4           Champions League
               ...
66                 UEFA Euro
67        UEFA Europa League
68         UEFA Women's Euro
69         Women's World Cup
70         Women's World Cup
Name: competition_name, Length: 71, dtype: object

We can see it is on the first row. To get the ID of this competition, we need to look at the first row of `competition_id`.

In [23]:
df_comp['competition_id']

0        9
1     1267
2       16
3       16
4       16
      ...
66      55
67      35
68      53
69      72
70      72
Name: competition_id, Length: 71, dtype: int64

We have `9`. We can do the same with `season_name` and `season_id` too. For this, I've selected the 2015/16 season which has an ID of `27`.

NOTE: ONLY SEASON 27 EXISTS FOR THE OPENDATA (HAD TO LOOK), WHICH IS 2015/16!

In [38]:
df_match = parser.match(competition_id=9, season_id=27)
# can do parser.match(competition_name="1. Bundesliga", season_name="2015/16") as well

df_match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 52 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   match_id                         306 non-null    int64
 1   match_date                       306 non-null    datetime64[ns]
 2   kick_off                         306 non-null    datetime64[ns]
 3   home_score                       306 non-null    int64
 4   away_score                       306 non-null    int64
 5   match_status                     306 non-null    object
 6   match_status_360                 306 non-null    object
 7   last_updated                     306 non-null    datetime64[ns]
 8   last_updated_360                 0 non-null      datetime64[ns]
 9   match_week                       306 non-null    int64
 10  competition_id                   306 non-null    int64
 11  country_name                     306 non-null    object
 12  competition_name                 306 non-null    object
 13  season_id                        306 non-null    int64
 14  season_name                      306 non-null    object
 15  home_team_id                     306 non-null    int64
 16  home_team_name                   306 non-null    object
 17  home_team_gender                 306 non-null    object
 18  home_team_group                  0 non-null      object
 19  home_team_country_id             306 non-null    int64
 20  home_team_country_name           306 non-null    object
 21  home_team_managers_id            306 non-null    int64
 22  home_team_managers_name          306 non-null    object
 23  home_team_managers_nickname      306 non-null    object
 24  home_team_managers_dob           306 non-null    datetime64[ns]
 25  home_team_managers_country_id    306 non-null    int64
 26  home_team_managers_country_name  306 non-null    object
 27  away_team_id                     306 non-null    int64
 28  away_team_name                   306 non-null    object
 29  away_team_gender                 306 non-null    object
 30  away_team_group                  0 non-null      object
 31  away_team_country_id             306 non-null    int64
 32  away_team_country_name           306 non-null    object
 33  away_team_managers_id            306 non-null    int64
 34  away_team_managers_name          306 non-null    object
 35  away_team_managers_nickname      306 non-null    object
 36  away_team_managers_dob           306 non-null    datetime64[ns]
 37  away_team_managers_country_id    306 non-null    int64
 38  away_team_managers_country_name  306 non-null    object
 39  metadata_data_version            306 non-null    object
 40  metadata_shot_fidelity_version   306 non-null    object
 41  metadata_xy_fidelity_version     306 non-null    object
 42  competition_stage_id             306 non-null    int64
 43  competition_stage_name           306 non-null    object
 44  stadium_id                       306 non-null    int64
 45  stadium_name                     306 non-null    object
 46  stadium_country_id               306 non-null    int64
 47  stadium_country_name             306 non-null    object
 48  referee_id                       306 non-null    int64
 49  referee_name                     306 non-null    object
 50  referee_country_id               306 non-null    int64
 51  referee_country_name             306 non-null    object
dtypes: datetime64[ns](6), int64(19), object(27)
memory usage: 124.4+ KB

## Event data

We will mostly be using "Events" data, which are things like shots, passes etc. You access these with `game_id`. 

The `event` method returns 4 dataframes in a tuple. We have events, related, freeze and tactics.

In [43]:
df_event = parser.event(match_id=3890511)[0]
df_event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3395 entries, 0 to 3394
Data columns (total 67 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              3395 non-null   object
 1   index                           3395 non-null   int64
 2   period                          3395 non-null   int64
 3   timestamp                       3395 non-null   object
 4   minute                          3395 non-null   int64
 5   second                          3395 non-null   int64
 6   possession                      3395 non-null   int64
 7   duration                        2489 non-null   float64
 8   match_id                        3395 non-null   int64
 9   type_id                         3395 non-null   int64
 10  type_name                       3395 non-null   object
 11  possession_team_id              3395 non-null   int64
 12  possession_team_name            3395 non-null   object
 13  play_pattern_id                 3395 non-null   int64
 14  play_pattern_name               3395 non-null   object
 15  team_id                         3395 non-null   int64
 16  team_name                       3395 non-null   object
 17  tactics_formation               7 non-null      object
 18  player_id                       3379 non-null   float64
 19  player_name                     3379 non-null   object
 20  position_id                     3379 non-null   float64
 21  position_name                   3379 non-null   object
 22  pass_recipient_id               907 non-null    float64
 23  pass_recipient_name             907 non-null    object
 24  pass_length                     948 non-null    float64
 25  pass_angle                      948 non-null    float64
 26  pass_height_id                  948 non-null    float64
 27  pass_height_name                948 non-null    object
 28  end_x                           1728 non-null   float64
 29  end_y                           1728 non-null   float64
 30  body_part_id                    962 non-null    float64
 31  body_part_name                  962 non-null    object
 32  sub_type_id                     326 non-null    float64
 33  sub_type_name                   326 non-null    object
 34  x                               3366 non-null   float64
 35  y                               3366 non-null   float64
 36  under_pressure                  595 non-null    float64
 37  aerial_won                      46 non-null     object
 38  outcome_id                      457 non-null    float64
 39  outcome_name                    457 non-null    object
 40  pass_switch                     40 non-null     object
 41  counterpress                    69 non-null     float64
 42  off_camera                      44 non-null     float64
 43  pass_cross                      18 non-null     object
 44  pass_assisted_shot_id           18 non-null     object
 45  pass_goal_assist                4 non-null      object
 46  shot_statsbomb_xg               24 non-null     float64
 47  end_z                           16 non-null     float64
 48  shot_key_pass_id                18 non-null     object
 49  shot_first_time                 8 non-null      object
 50  technique_id                    50 non-null     float64
 51  technique_name                  50 non-null     object
 52  goalkeeper_position_id          24 non-null     float64
 53  goalkeeper_position_name        24 non-null     object
 54  pass_cut_back                   3 non-null      object
 55  pass_shot_assist                14 non-null     object
 56  out                             42 non-null     float64
 57  ball_recovery_recovery_failure  8 non-null      object
 58  dribble_overrun                 2 non-null      object
 59  foul_won_defensive              14 non-null     object
 60  block_offensive                 1 non-null      object
 61  foul_committed_card_id          7 non-null      float64
 62  foul_committed_card_name        7 non-null      object
 63  foul_committed_advantage        1 non-null      object
 64  foul_won_advantage              1 non-null      object
 65  substitution_replacement_id     5 non-null      float64
 66  substitution_replacement_name   5 non-null      object
dtypes: float64(24), int64(10), object(33)
memory usage: 1.7+ MB

## 360 data

Finally there is also 360 data which track not only location of an event but also playersâ€™ location. To open them we need an id of game. Later, we will also need id of the event.

In [44]:
df_frame, df_visible = parser.frame(3788741)

# exploring the data
df_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45737 entries, 0 to 45736
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   teammate  45737 non-null  bool
 1   actor     45737 non-null  bool
 2   keeper    45737 non-null  bool
 3   match_id  45737 non-null  int64
 4   id        45737 non-null  object
 5   x         45737 non-null  float64
 6   y         45737 non-null  float64
dtypes: bool(3), float64(2), int64(1), object(1)
memory usage: 1.5+ MB